.form-container {
    max-width: 500px;
    margin: auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.panel-container {
    max-width: 1000px;
    margin: auto;
    padding: 15px;
    
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.btn-group{

    margin: auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    /* margin-top: 5px; */
    display: none; 
    margin-bottom: 5px;
}


